<!doctype html>
<html>
  <head>
    <title>Vehicle Service Appointments</title>
    <%- include('./partials/css.ejs') %>
  </head>
  <body>
    <div class="container">
      <%- include("./partials/errMsg.ejs") %>      
      <!-- ... rest of your HTML/EJS code ... -->
    </div>
    <div class="container">
      <%- include("./partials/navBar.ejs") %>
      <h1>Vehicle Service Appointments</h1>

      <%- include("./partials/errMsg.ejs") %>

      <div class="mb-4">
        <a href="/appointments/create" class="btn btn-primary btn-sm">Create an Appointment</a>
      </div>

      <div class="row">
        <% appointments.forEach(function(appointment){ %>
        <div class="col-4 mb-2">
          <div class="card p-2">
            <div class="card-title">
              <label>Year: <output><%= appointment.year%></output> </label>
            </div>
            <div class="card-text">
              <div>
                <label
                  >CarID: <output><%= appointment.carId %></output>
                </label>
              </div>
              <div>
                <label
                  >Model: <output><%= appointment.model %></output>

                </label>
              </div>

              <div>
                <a
                  type="button"
                  class="btn btn-outline-primary btn-sm"
                  href="/appointments/<%= appointment.ID %>/edit"
                  >Edit</a
                >
                <a
                  type="button"
                  class="btn btn-outline-danger btn-sm"
                  href="/appointments/<%= appointment.ID %>/delete"
                  >Delete</a
                >
              </div>
            </div>
            <!-- /.card-text -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col-4 -->
        <% }); %>
      </div>
      <!-- /.row -->

      <%- include("./partials/footer.ejs") %>
    </div>
    <!-- /.container -->
  </body>
</html>
